.git
.gitignore
.DS_Store
__pycache__
.pytest_cache
.cache
.vscode
.env
.env.sample
.coverage
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
dist
build
.flake8
codecov.yml
.env.*
seating_app_*.db
venv
reports
*.log
