export FLASK_APP=server
export FLASK_ENV=development
export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=
export CANVAS_SERVER_URL=
export CANVAS_CLIENT_ID=
export CANVAS_CLIENT_SECRET=
export CANVAS_COURSE_ID=