{% macro form(form) %}
<form method="POST">
  {{ form.hidden_tag() }}
  {{ caller() }}
</form>
{% endmacro %}

{% macro field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
  <ul>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}

{% macro room(room, highlight_seat_id=none, show_attributes=false, staff=true, remove_link=false) %}
{% if room.seats %}
<div class="room">
  <h4>{{ room.display_name }}
    {% if room.start_at %}
        <span style="margin-right: 5px;"><small>
          {{ room.start_at_time_display() }}
        </small></span>
    {% endif %}
    {% if room.duration_minutes %}
        <span><small>
          {{ room.duration_display }}
        </small></span>
    {% endif %}
  </h4>

  {% if room.movable_seats %}
    <h5>Movable Seats</h5>
    {% set circle_size = 24 %}
    <div style="width: 40%; margin: 0 auto; text-align: left;">
    <div style="text-align: center;">There are {{ room.movable_seats|length }} movable seats in this room.</div>
    <ul>
    {% for attr in room.movable_seats_by_attribute %}
      <li>{{ ','.join(attr) }}

      {% for seat in room.movable_seats_by_attribute[attr] %}
        {% if staff %}
          {% if seat.assignment %}
            {% if not remove_link %}
            <a href="{{ url_for('student', exam_student=(exam, seat.assignment.student)) }}">
            {% endif %}
              <span class="s" id={{ seat.id }} style="font-size: {{ circle_size }}px;">&#x25CF;</span>
            {% if not remove_link %}
            </a>
            {% endif %}
          {% else %}
            <span class="s" id={{ seat.id }} style="font-size: {{ circle_size }}px;">
              &#x25CB;
            </span>
          {% endif %}
        {% endif %}
        <div class="seat-tooltip mdl-tooltip mdl-tooltip--large" for="{{ seat.id }}">
        {{ seat.id }}
          {% if show_attributes %}
            {% for attribute in seat.attributes %}
              <br>{{ attribute|upper }}
            {% endfor %}
          {% endif %}
          {% if staff and seat.assignment %}
            <br>{{ seat.assignment.student.name }}
            <br>
              <img class="photo" src="{{ url_for('student_photo', exam_student=(room.exam, seat.assignment.student)) }}" alt="photo for: {{ seat.assignment.student.name }}"/>
            <br>{{ seat.assignment.student.sid }}
          {% endif %}
        </div>
      {% endfor %}

      {% for seat in room.movable_seats_by_attribute[attr] %}
        {% if seat.id and seat.id == highlight_seat_id %}
          <span><strong>(YOUR WILL USE A SEAT FROM THIS CATEGORY)</strong></span>
        {% endif %}
      {% endfor %}

      </li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}

  {% if room.fixed_seats %}
  <h5>Fixed Seats</h5>
  <h6>Front</h6>
  {% set x_min = room.fixed_seats|map(attribute='x')|min %}
  {% set x_max = room.fixed_seats|map(attribute='x')|max %}
  {% set y_min = room.fixed_seats|map(attribute='y')|min %}
  {% set y_max = room.fixed_seats|map(attribute='y')|max %}
  {% set scale = 23 %}
  <div class="scroll" style="overflow-y:hidden">
  <div class="seats" style="width:{{ scale * (x_max - x_min + 1) }}px;height:{{ scale * (y_max - y_min + 1) }}px">
  {% for row in room.rows %}
    {% for seat in row %}
      {% set x = scale * (x_max - seat.x) %}
      {% set y = scale * (seat.y - y_min) %}
      {% if loop.first %}
        <div class="seat-label" style="left:{{ x + 30 }}px;top:{{ y }}px">{{ seat.name }}</div>
      {% endif %}
      {% if staff and seat.assignment and not remove_link %}
      <a href="{{ url_for('student', exam_student=(exam, seat.assignment.student)) }}">
      {% endif %}
        {% if seat.id and seat.id == highlight_seat_id %}
          {% set class = 's seat highlight' %}
        {% elif staff and seat.assignment %}
          {% set class = 's seat occupied' %}
        {% else %}
          {% set class = 's seat' %}
        {% endif %}
        <div id="{{ seat.id }}" class="{{ class }}" style="left:{{ x }}px;top:{{ y }}px"></div>
      {% if staff and seat.assignment and not remove_link %}
      </a>
      {% endif %}
      <div class="seat-tooltip mdl-tooltip mdl-tooltip--large" for="{{ seat.id }}">
        {{ seat.name }}
        {% if show_attributes %}
        {% for attribute in seat.attributes %}
          <br>{{ attribute|upper }}
        {% endfor %}
        {% endif %}
        {% if staff and seat.assignment %}
          <br>{{ seat.assignment.student.name }}
          <br>
            <img class="photo" src="{{ url_for('student_photo', exam_student=(room.exam, seat.assignment.student)) }}" alt="photo for: {{ seat.assignment.student.name }}"/>
          <br>{{ seat.assignment.student.sid }}
        {% endif %}
      </div>
      {% if loop.last %}
        <div class="seat-label" style="left:{{ x - 50 }}px;top:{{ y }}px">{{ seat.name }}</div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
  </div>
  <h6>Back</h6>
  {% endif %}
</div>
{% endif %}
{% endmacro %}

{% macro render_checkbox(form, field_name, label) %}
<div class="checkbox" id="{{ field_name }}">
  {{ form[field_name] }}
  <label for="{{ field_name }}">{{ label }}</label>
</div>
{% endmacro %}

{% macro render_import_strategies_choices(form) %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    {{ render_checkbox(form, 'revalidate_existing_assignments', 'Revalidate Existing Seat Assignments') }}
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <div id="assignment_import_strategy">
      <label class="" for="assignment_import_strategy">Seat Assignment Import Strategy</label>
      {{ form.assignment_import_strategy() }}
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <div id="updated_student_info_import_strategy">
      <label class="" for="updated_student_info_import_strategy">Student Basic Info Update Import Strategy</label>
      {{ form.updated_student_info_import_strategy() }}
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <div id="updated_preference_import_strategy">
      <label class="" for="updated_preference_import_strategy">Student Preference Update Import Strategy</label>
      {{ form.updated_preference_import_strategy() }}
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <div id="new_student_import_strategy">
      <label class="" for="new_student_import_strategy">New Row Strategy</label>
      {{ form.new_student_import_strategy() }}
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <div id="missing_student_import_strategy">
      <label class="" for="missing_student_import_strategy">Missing row Strategy</label>
      {{ form.missing_student_import_strategy() }}
    </div>
  </div>
</div>
{% endmacro %}
