{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block body %}

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#sheet-panel" class="mdl-tabs__tab is-active">Import from Custom Sheet</a>
    <a href="#choice-panel" class="mdl-tabs__tab">Import from Master Sheet</a>
    <a href="#upload-panel" class="mdl-tabs__tab">Import from CSV Upload</a>
    <a href="#manual-panel" class="mdl-tabs__tab">Manual Entry</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="sheet-panel">
    <form action="{{ url_for('import_room_from_custom_sheet', exam=exam) }}" method="post">
      {{ new_form.hidden_tag() }}
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--10-col">
            {{ new_form.sheet_url(class="mdl-textfield__input", type="Google Sheet URL", id="gsurl") }}
            <label class="mdl-textfield__label" for="gsurl">Google Sheet URL</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
            {{ new_form.sheet_range(class="mdl-textfield__input", type="Sheet Name", id="sheetname") }}
            <label class="mdl-textfield__label" for="sheetname">Sheet Name</label>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
            {{ new_form.display_name(class="mdl-textfield__input", type="Room Name", id="roomname") }}
            <label class="mdl-textfield__label" for="roomname">Room Name</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
            {{ new_form.start_at(class="mdl-textfield__input", type="datetime-local", id="start_at") }}
            <label class="mdl-textfield__label" for="start_at">Start At</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
            {{ new_form.duration_minutes(class="mdl-textfield__input", type="number", id="duration_minutes") }}
            <label class="mdl-textfield__label" for="duration_minutes">Duration (Minutes)</label>
          </div>
        </div>
        <div class="form-buttons">
          {{ new_form.preview_room(class="mdl-button mdl-js-button") }}
        </div>
        <div class="form-buttons">
          {{ new_form.create_room(class="mdl-button mdl-js-button mdl-button--raised") }}
        </div>
        <div class="mdl-layout-spacer"></div>
      </div>
    </form>
    {% if room %}
      {{ macros.room(room, show_attributes=true) }}
    {% endif %}
  </div>

  <div class="mdl-tabs__panel" id="choice-panel">
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--10-col">
        <div>
        Master Sheet URL: <a href="{{ master_sheet_url }}" target="_blank">{{ master_sheet_url }}</a>
        </div>
        <form action="{{ url_for('import_room_from_master_sheet', exam=exam) }}" method="post">
          {{ choose_form.hidden_tag() }}
          <div class="checkbox">{{ choose_form.rooms }}</div>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
              {{ choose_form.start_at(class="mdl-textfield__input", type="datetime-local", id="choose_start_at") }}
              <label class="mdl-textfield__label" for="choose_start_at">Start At</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
              {{ choose_form.duration_minutes(class="mdl-textfield__input", type="number", id="choose_duration_minutes") }}
              <label class="mdl-textfield__label" for="choose_duration_minutes">Duration (Minutes)</label>
            </div>
          </div>
          <div class="form-buttons">{{ choose_form.submit(class="mdl-button mdl-js-button mdl-button--raised") }}</div>
        </form>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  </div>

  <div class="mdl-tabs__panel" id="upload-panel">
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--10-col">
        <form action="{{ url_for('import_room_from_csv_upload', exam=exam) }}" method="post" enctype="multipart/form-data">
          {{ upload_form.hidden_tag() }}
          {{ upload_form.file(class="mdl-textfield__input", type="file", id="upload_csv_file")}}
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
              {{ upload_form.display_name(class="mdl-textfield__input", type="Room Name", id="upload_roomname") }}
              <label class="mdl-textfield__label" for="upload_roomname">Room Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
              {{ upload_form.start_at(class="mdl-textfield__input", type="datetime-local", id="upload_start_at") }}
              <label class="mdl-textfield__label" for="upload_start_at">Start At</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
              {{ upload_form.duration_minutes(class="mdl-textfield__input", type="number", id="upload_duration_minutes") }}
              <label class="mdl-textfield__label" for="upload_duration_minutes">Duration (Minutes)</label>
            </div>
          </div>
          <div class="form-buttons">{{ upload_form.submit(class="mdl-button mdl-js-button mdl-button--raised") }}</div>
        </form>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>

  </div>

  <div class="mdl-tabs__panel" id="manual-panel">
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--10-col">
        <form action="{{ url_for('import_room_manually', exam=exam) }}" method="post">
          {{ manual_form.hidden_tag() }}
          <div id="manual_form_movable_seat_list" class="mdl-cell mdl-cell--12-col">
            {% for movable_seat_form in manual_form.movable_seats %}
              <fieldset class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--7-col">
                  {{ movable_seat_form.attributes(class="mdl-textfield__input") }}
                  <label class="mdl-textfield__label">Seat Attributes</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
                  {{ movable_seat_form.count(class="mdl-textfield__input", type="number") }}
                  <label class="mdl-textfield__label">Seat Count</label>
                </div>
                <div class="material-icons mdl-cell--1-col" style="text-align: center; margin: 0; cursor: pointer; display:none;" id="seat-delete-0" style="float: right;"
                  onclick="deleteSeat(this.id);">
                  clear
                </div>
              </fieldset>
            {% endfor %}
          </div>
          <div class="form-buttons">
            <button class="mdl-button mdl-js-button mdl-button--raised" type="button" id="movable-seat-list-add-button">Add Seat Type</button>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
              {{ manual_form.display_name(class="mdl-textfield__input", id="manual_roomname") }}
              <label class="mdl-textfield__label" for="manual_roomname">Room Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
              {{ manual_form.start_at(class="mdl-textfield__input", type="datetime-local", id="manual_start_at") }}
              <label class="mdl-textfield__label" for="manual_start_at">Start At</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
              {{ manual_form.duration_minutes(class="mdl-textfield__input", type="number", id="manual_duration_minutes") }}
              <label class="mdl-textfield__label" for="manual_duration_minutes">Duration (Minutes)</label>
            </div>
          </div>
          <div class="form-buttons">{{ manual_form.submit(class="mdl-button mdl-js-button mdl-button--raised") }}</div>
        </form>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  </div>


</div>

<script>
  document.getElementById("movable-seat-list-add-button").addEventListener("click", function() {
      var container = document.getElementById("manual_form_movable_seat_list");
      var newSeat = container.children[0].cloneNode(true);
      container.appendChild(newSeat);
      recalculateIndices(container.children.length-1);
  });

  function deleteSeat(id) {
    var index = id.split("-")[2];
    if (index == 0) {
      return; // do not delete the index-0 seat
    }
    var container = document.getElementById("manual_form_movable_seat_list");
    container.removeChild(container.children[index]);
    recalculateIndices(index);
  }


  function recalculateIndices(startIndex=0) {
    var container = document.getElementById("manual_form_movable_seat_list");
    for (var i = startIndex; i < container.children.length; i++) {
      var seat = container.children[i];
      var attribute_input = seat.children[0].children[0];
      var count_input = seat.children[1].children[0];
      var delete_button = seat.children[2];
      new_name = attribute_input.name.replace(/\d+/g, i);
      attribute_input.name = new_name;
      count_input.name = count_input.name.replace(/\d+/g, i);
      delete_button.id = delete_button.id.replace(/\d+/g, i);
      
      if (i == 0) {
        delete_button.style.display = "none";
      } else {
        delete_button.style.display = "";
      }
      
    }
  }
</script>
{% endblock %}
